E-ATM.Library/Service References/ATMServer/ATMServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ATMServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51479/ATMServer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51479/ATMServer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IATMServer_ValidateCard_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateCard" />
  </wsdl:message>
  <wsdl:message name="IATMServer_ValidateCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateCardResponse" />
  </wsdl:message>
  <wsdl:message name="IATMServer_AuthorizeCard_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizeCard" />
  </wsdl:message>
  <wsdl:message name="IATMServer_AuthorizeCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizeCardResponse" />
  </wsdl:message>
  <wsdl:portType name="IATMServer">
    <wsdl:operation name="ValidateCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IATMServer/ValidateCard" message="tns:IATMServer_ValidateCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IATMServer/ValidateCardResponse" message="tns:IATMServer_ValidateCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthorizeCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IATMServer/AuthorizeCard" message="tns:IATMServer_AuthorizeCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IATMServer/AuthorizeCardResponse" message="tns:IATMServer_AuthorizeCard_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IATMServer" type="tns:IATMServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateCard">
      <soap:operation soapAction="http://tempuri.org/IATMServer/ValidateCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthorizeCard">
      <soap:operation soapAction="http://tempuri.org/IATMServer/AuthorizeCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ATMServer">
    <wsdl:port name="BasicHttpBinding_IATMServer" binding="tns:BasicHttpBinding_IATMServer">
      <soap:address location="http://localhost:51479/ATMServer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>